{% include 'lapbul_app/header.html' %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h5 class="mt-4">Form 1300 - Daftar Simpanan dari Bank Lain</h5>
            <hr>
            <!-- Tombol kembali & tambah -->
            <a href="{% url 'lapbul_app:lapbul' %}" class="btn btn-secondary">Kembali</a>
            <!-- <button type="button" class="btn btn-secondary tambah" data-bs-toggle="modal" data-bs-target="#form1300Modal">Tambah</button> -->
            <br><br>
            
            <!-- Modal -->
            <div class="modal fade" id="form1300Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="form1300ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header bg-secondary">
                            <h6 class="modal-title text-white" id="form1300ModalLabel">Form Data Simpanan dari Bank Lain</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Flag Detail</label>
                                        <input type="text" class="form-control" id="flag_detail">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Sandi Kantor</label>
                                        <input type="text" class="form-control" id="sandi_kantor">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">ID Pihak Lawan</label>
                                        <input type="text" class="form-control" id="id_pihak_lawan">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Nomor Rekening</label>
                                        <input type="text" class="form-control" id="no_rekening">
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Jenis Bank</label>
                                        <input type="text" class="form-control" id="jenis_bank">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Sandi Bank</label>
                                        <input type="text" class="form-control" id="sandi_bank">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Lokasi Bank</label>
                                        <input type="text" class="form-control" id="lokasi_bank">
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Jenis</label>
                                        <input type="text" class="form-control" id="jenis">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Hubungan dengan Bank</label>
                                        <input type="text" class="form-control" id="hub_bank">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Jangka Waktu</label>
                                        <input type="text" class="form-control" id="jangka_waktu">
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Tanggal Mulai</label>
                                        <input type="text" class="form-control" id="tgl_mulai" placeholder="YYYYMMDD">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Tanggal Jatuh Tempo</label>
                                        <input type="text" class="form-control" id="tgl_jatuh" placeholder="YYYYMMDD">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Suku Bunga</label>
                                        <input type="text" class="form-control" id="suku_bunga">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Nominal</label>
                                        <input type="text" class="form-control" id="nominal">
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Nominal Diblokir/Dijaminkan</label>
                                        <input type="text" class="form-control" id="nominal_blokir">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Alasan Diblokir</label>
                                        <input type="text" class="form-control" id="alasan_blokir">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Transaksi Belum Diamortisasi</label>
                                        <input type="text" class="form-control" id="biaya_transaksi">
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label class="form-label">Jumlah</label>
                                        <input type="text" class="form-control" id="jumlah">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-secondary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

          <table id="datatables" class="table table-bordered table-striped nowrap w-100">
    <thead>
        <tr>
            <th>Flag Detail</th>
            <th>Sandi Kantor</th>
            <th>ID Pihak Lawan</th>
            <th>Nomor Rekening</th>
            <th>Jenis Bank</th>
            <th>Sandi Bank</th>
            <th>Lokasi Bank</th>
            <th>Jenis</th>
            <th>Hubungan dengan Bank</th>
            <th>Tanggal Mulai</th>
            <th>Tanggal Jatuh Tempo</th>
            <th>Suku Bunga</th>
            <th>Nominal</th>
            <th>Nominal yang Diblokir/Dijaminkan</th>
            <th>Alasan Diblokir</th>
            <th>Transaksi Belum Diamortisasi</th>
            <th>Jumlah</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>D01</td>
        <td>001</td>
        <td>CIF1</td>
        <td>Rekening1</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>02 (Deposito)</td>
        <td>20 (Tidak Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.50</td>
        <td>200000</td>
        <td>10000</td>
        <td>01 (Escrow Account)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>001</td>
        <td>CIF2</td>
        <td>Rekening2</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>01 (Tabungan)</td>
        <td>20 (Tidak Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.56</td>
        <td>200000</td>
        <td>10000</td>
        <td>02 (Cash Collateral)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>001</td>
        <td>CIF3</td>
        <td>Rekening3</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>02 (Deposito)</td>
        <td>12 (Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.57</td>
        <td>200000</td>
        <td>10000</td>
        <td>99 (Alasan Diblokir Lainnya)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>001</td>
        <td>CIF4</td>
        <td>Rekening4</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>01 (Tabungan)</td>
        <td>20 (Tidak Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.58</td>
        <td>200000</td>
        <td>10000</td>
        <td>01 (Escrow Account)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>001</td>
        <td>CIF5</td>
        <td>Rekening5</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>02 (Deposito)</td>
        <td>12 (Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.59</td>
        <td>200000</td>
        <td>10000</td>
        <td>02 (Cash Collateral)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>002</td>
        <td>CIF6</td>
        <td>Rekening6</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>01 (Tabungan)</td>
        <td>20 (Tidak Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.60</td>
        <td>200000</td>
        <td>10000</td>
        <td>99 (Alasan Diblokir Lainnya)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>002</td>
        <td>CIF7</td>
        <td>Rekening7</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>02 (Deposito)</td>
        <td>12 (Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.61</td>
        <td>200000</td>
        <td>10000</td>
        <td>01 (Escrow Account)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>002</td>
        <td>CIF8</td>
        <td>Rekening8</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>11 (Tabungan khusus dari BPR lain untuk penanggulangan permasalahan likuditas)</td>
        <td>20 (Tidak Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>4.00</td>
        <td>200000</td>
        <td>10000</td>
        <td>02 (Cash Collateral)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>002</td>
        <td>CIF9</td>
        <td>Rekening9</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>12 (Deposito khusus dari BPR lain untuk rangka penanggulangan permasalahan likuditas)</td>
        <td>12 (Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.63</td>
        <td>200000</td>
        <td>10000</td>
        <td>99 (Alasan Diblokir Lainnya)</td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <td>D01</td>
        <td>002</td>
        <td>CIF10</td>
        <td>Rekening10</td>
        <td>600 (BPR Konvensional)</td>
        <td>600005 (PT BPR Narwastu Mikro Perkasa)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>0102 (Kab. Bekasi)</td>
        <td>20 (Tidak Terkait)</td>
        <td>20180101</td>
        <td>20221231</td>
        <td>5.64</td>
        <td>200000</td>
        <td>0</td>
        <td></td>
        <td>100000</td>
        <td>100000</td>
        <td>
            <a href="#" class="text-secondary me-2 edit" data-bs-toggle="modal" data-bs-target="#form1300Modal"><i class="fas fa-edit"></i></a>
            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>

        </div>
    </main>
</div>

<script>
$(document).ready(function () {
    $('#datatables').DataTable({
        scrollX: true,
        responsive: true
    });
});

document.addEventListener('click', function(e) {
    if (e.target.closest('.tambah')) {
        e.preventDefault();
        document.querySelector('#form1300Modal form').reset();
    }

    if (e.target.closest('.edit')) {
        e.preventDefault();
        const row = e.target.closest('tr');
        const cells = row.querySelectorAll('td');
        document.getElementById("flag_detail").value = cells[0].textContent;
        document.getElementById("sandi_kantor").value = cells[1].textContent;
        document.getElementById("id_pihak_lawan").value = cells[2].textContent;
        document.getElementById("no_rekening").value = cells[3].textContent;
        document.getElementById("jenis_bank").value = cells[4].textContent;
        document.getElementById("sandi_bank").value = cells[5].textContent;
        document.getElementById("lokasi_bank").value = cells[6].textContent;
        document.getElementById("jenis").value = cells[7].textContent;
        document.getElementById("hub_bank").value = cells[8].textContent;
        document.getElementById("jangka_waktu").value = cells[9].textContent;
        document.getElementById("tgl_mulai").value = cells[10].textContent;
        document.getElementById("tgl_jatuh").value = cells[11].textContent;
        document.getElementById("suku_bunga").value = cells[12].textContent;
        document.getElementById("nominal").value = cells[13].textContent;
        document.getElementById("nominal_blokir").value = cells[14].textContent;
        document.getElementById("alasan_blokir").value = cells[15].textContent;
        document.getElementById("biaya_transaksi").value = cells[16].textContent;
        document.getElementById("jumlah").value = cells[17].textContent;
    }

    if (e.target.closest('.delete')) {
        e.preventDefault();
        if (confirm("Apakah Anda yakin ingin menghapus data ini?")) {
            e.target.closest('tr').remove();
        }
    }
});
</script>
{% include 'lapbul_app/footer.html' %}
