{% include 'lapbul_app/header.html' %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h5 class="mt-4">Form 0008 - Rasio Keuangan Triwulanan</h5>
            <hr>
            <div class="d-flex justify-content-between">
                <a href="{% url 'lapbul_app:lapbul' %}" class="btn btn-secondary">Kembali</a><br><br>

                <button type="submit" class="btn btn-secondary">Simpan</button>
                
            </div>
       
          
            <div class="d-flex justify-content-center">

                <form>
                    <table class="table table-bordered" style="max-width:800px;">
                        <thead>
                            <tr class="text-center">
                                <th>Pos</th>
                                <th>Sandi</th>
                                <th>Nilai Rasio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="kpmm">Kewajiban Penyediaan Modal Minimum (KPMM)</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="kpmm">0101</label></td>
                                <td><input type="text" class="form-control text-end" id="kpmm" name="kpmm" value="100.00" /></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="ckpn">Rasio Cadangan terhadap PPKA</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="ckpn">0202</label></td>
                                <td><input class="form-control text-end" id="ckpn" name="ckpn" rows="2" value="100.00"></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="npl_net">Non Performing Loan (NPL) Netto</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="npl_net">0203</label></td>
                                <td><input type="text" class="form-control text-end" id="npl_net" name="npl_net" value="5.55" /></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="npl_gross">Non Performing Loan (NPL) Gross</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="npl_gross">0204</label></td>
                                <td><input type="text" class="form-control text-end" id="npl_gross" name="npl_gross" value="10.00" /></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="roa">Return on Assets (ROA)</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="roa">0401</label></td>
                                <td><input type="text" class="form-control text-end" id="roa" name="roa" value="2.25" /></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="bopo">Biaya Operasional terhadap Pendapatan Operasional (BOPO)</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="bopo">0402</label></td>
                                <td><input type="text" class="form-control text-end" id="bopo" name="bopo" value="100.00" /></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="nim">Net Interest Margin (NIM)</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="nim">0403</label></td>
                                <td><input type="text" class="form-control text-end" id="nim" name="nim" value="3.50" /></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="ldr">Loan to Deposit Ratio (LDR)</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="ldr">0501</label></td>
                                <td><input type="text" class="form-control text-end" id="ldr" name="ldr" value="5.63" /></td>
                            </tr>
                            <tr>
                                <td class="align-middle"><label class="form-label" for="cashratio">Cash Ratio</label></td>
                                <td class="align-middle text-center"><label class="form-label" for="cashratio">0502</label></td>
                                <td><input type="text" class="form-control text-end" id="cashratio" name="cashratio" value="20.00" /></td>
                            </tr>
                        </tbody>
                    </table>
      
                </form>
            </div>
            <br>
        </div>
    </main>
</div>
{% include 'lapbul_app/footer.html' %}