{% include 'lapbul_app/header.html' %}
<style>
    /* CSS for form alignment and styling */
    .form-container {
        display: flex;
        justify-content: center;
    }
    table td input.form-control {
        text-align: right;
    }
    .form-select.w-auto {
        max-width: fit-content;
    }
</style>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h5 class="mt-4">Form 0101 - Rekening Administratif</h5>
            <hr>
            <div class="d-flex justify-content-between">
                <a href="{% url 'lapbul_app:lapbul' %}" class="btn btn-secondary">Kembali</a>
                <button type="submit" form="mainForm" class="btn btn-secondary">Simpan</button>
            </div>

            <!-- <div class="mb-3 d-flex align-items-center gap-2">
                <label for="sandiFilter" class="form-label mb-0">Pilih Sandi:</label>
                <select id="sandiFilter" class="form-select form-select-sm w-auto" onchange="filterSandi()">
                    <option value="all">semua</option>
                    <option value="9100">9100</option>
                    <option value="9200">9200</option>
                </select>
            </div> -->

            <div class="mb-3 d-flex align-items-center gap-2">
                <label for="kantorFilter" class="form-label mb-0">Pilih Sandi Kantor:</label>
                <select id="kantorFilter" class="form-select form-select-sm w-auto" onchange="filterKantor()">
                    <option value="all">semua</option>
                    <option value="000">000</option>
                    <option value="001">001</option>
                    <option value="002">002</option>
                </select>
            </div>
            
            <!-- Modal structure -->
            <div class="modal fade" id="form0101Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="form0101ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    
                        <div class="modal-header bg-secondary">
                            <h6 class="modal-title text-white" id="form0101ModalLabel">Form Input Rekening Administratif</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <!-- Input Form -->
                            <form>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="include_text" class="form-label">Include Text</label>
                                        <input type="text" class="form-control" id="include_text" name="include_text" maxlength="1">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="sandi_kantor" class="form-label">Sandi Kantor</label>
                                        <input type="text" class="form-control" id="sandi_kantor" name="sandi_kantor" maxlength="10">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="aset" class="form-label">Aset</label>
                                        <input type="text" class="form-control" id="aset" name="aset" maxlength="200">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="sandi" class="form-label">Sandi</label>
                                        <input type="text" class="form-control" id="sandi" name="sandi" maxlength="10">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="jumlah" class="form-label">Jumlah</label>
                                        <input type="number" class="form-control" id="jumlah" name="jumlah">
                                    </div>
                                </div>
                            </form>
                            <!-- End Input Form -->
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-secondary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-container">
                <form id="mainForm">
                    <table class="table table-bordered table-sm">
                <thead class="table-light">
                    <tr>
                        <th>Sandi Kantor</th>
                        <th>Aset</th>
                        <th>Sandi</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- KANTOR 000 -->
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Fasilitas Pinjaman yang Diterima yang Belum Ditarik</td>
                        <td>6101010000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6101010000" value="3000000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Tagihan Komitmen Lainnya</td>
                        <td>6101990000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6101990000" value="3000000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Fasilitas Kredit kepada Nasabah yang Belum Ditarik</td>
                        <td>6102010000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6102010000" value="3000000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Penerusan Kredit (Channeling)</td>
                        <td>6102020000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6102020000" value="3000000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Kewajiban Komitmen Lainnya</td>
                        <td>6102990000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6102990000" value="3000000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Bunga Kredit yang Diberikan</td>
                        <td>6201010100</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6201010100" value="600000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Bunga Penempatan pada Bank Lain</td>
                        <td>6201010200</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6201010200" value="10000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Kredit yang Diberikan (Hapusbuku)</td>
                        <td>6201020100</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6201020100" value="250000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Agunan dalam Proses Penyelesaian Kredit</td>
                        <td>6201030000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6201030000" value="3000000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Kewajiban Kontinjensi</td>
                        <td>6202000000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6202000000" value="3000000"></td>
                    </tr>
                    <tr data-kantor="000">
                        <td>000</td>
                        <td>Rekening Administratif Lainnya</td>
                        <td>6900000000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_000_6900000000" value="3000000"></td>
                    </tr>

                    <!-- KANTOR 001 -->
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Fasilitas Pinjaman yang Diterima yang Belum Ditarik</td>
                        <td>6101010000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6101010000" value="1000000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Tagihan Komitmen Lainnya</td>
                        <td>6101990000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6101990000" value="1000000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Fasilitas Kredit kepada Nasabah yang Belum Ditarik</td>
                        <td>6102010000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6102010000" value="1000000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Penerusan Kredit (Channeling)</td>
                        <td>6102020000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6102020000" value="1000000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Kewajiban Komitmen Lainnya</td>
                        <td>6102990000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6102990000" value="1000000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Kredit yang Diberikan (Hapusbuku)</td>
                        <td>6201020100</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6201020100" value="150000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Penempatan pada Bank Lain (Hapusbuku)</td>
                        <td>6201020200</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6201020200" value="100000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Agunan dalam Proses Penyelesaian Kredit</td>
                        <td>6201030000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6201030000" value="1000000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Kewajiban Kontinjensi</td>
                        <td>6202000000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6202000000" value="1000000"></td>
                    </tr>
                    <tr data-kantor="001">
                        <td>001</td>
                        <td>Rekening Administratif Lainnya</td>
                        <td>6900000000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_001_6900000000" value="1000000"></td>
                    </tr>

                    <!-- KANTOR 002 -->
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Fasilitas Pinjaman yang Diterima yang Belum Ditarik</td>
                        <td>6101010000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6101010000" value="2000000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Tagihan Komitmen Lainnya</td>
                        <td>6101990000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6101990000" value="2000000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Fasilitas Kredit kepada Nasabah yang Belum Ditarik</td>
                        <td>6102010000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6102010000" value="2000000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Penerusan Kredit (Channeling)</td>
                        <td>6102020000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6102020000" value="2000000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Kewajiban Komitmen Lainnya</td>
                        <td>6102990000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6102990000" value="2000000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Bunga Kredit yang Diberikan</td>
                        <td>6201010100</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6201010100" value="600000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Bunga Penempatan pada Bank Lain</td>
                        <td>6201010200</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6201010200" value="10000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Kredit yang Diberikan (Hapusbuku)</td>
                        <td>6201020100</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6201020100" value="100000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Agunan dalam Proses Penyelesaian Kredit</td>
                        <td>6201030000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6201030000" value="2000000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Kewajiban Kontinjensi</td>
                        <td>6202000000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6202000000" value="2000000"></td>
                    </tr>
                    <tr data-kantor="002">
                        <td>002</td>
                        <td>Rekening Administratif Lainnya</td>
                        <td>6900000000</td>
                        <td><input type="text" class="form-control form-control-sm text-end" name="jumlah_002_6900000000" value="2000000"></td>
                    </tr>
                </tbody>
                    </table>
                </form>
            </div>
            <br>
        </div>
    </main>
</div>

<script>
    // Function to format numbers with thousand separators
    function formatNumber(input) {
        let value = input.value.replace(/\D/g, '');
        if (value) {
            input.value = new Intl.NumberFormat('id-ID').format(value);
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Apply initial formatting to all number-input fields
        document.querySelectorAll('input[type="text"]').forEach(input => {
            if (input.name && input.name.includes('jumlah')) {
                input.classList.add('number-input');
                formatNumber(input);
                
                input.addEventListener('blur', function() {
                    formatNumber(this);
                });
                input.addEventListener('focus', function() {
                    this.value = this.value.replace(/\D/g, '');
                });
            }
        });
    });

function filterKantor() {
    var selected = document.getElementById("kantorFilter").value;
    var rows = document.querySelectorAll("tbody tr");

    rows.forEach(function(row) {
        if (selected === "all") {
            row.style.display = "";
        } else {
            if (row.getAttribute("data-kantor") === selected) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    });
}
</script>
{% include 'lapbul_app/footer.html' %}