{% include 'lapbul_app/header.html' %}
<style>
/* Define the sticky column styles */
.sticky-action-col {
    position: sticky;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95) !important;
    z-index: 5;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    text-align: center;
    min-width: 120px; 
}

/* CSS untuk center kolom tertentu */
table td:nth-child(4),
table th:nth-child(4),
table td:nth-child(9),
table th:nth-child(9),
table td:nth-child(11),
table th:nth-child(11) {
    text-align: center;
    vertical-align: middle;
}
</style>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h5 class="mt-4">Form 0002 - Data Anggota Direksi dan Dewan Komisaris</h5>
            <hr>
            <div class="d-flex justify-content-between">
                <a href="{% url 'lapbul_app:lapbul' %}" class="btn btn-secondary">Kembali</a>
                <button type="button" class="btn btn-secondary tambah" data-bs-toggle="modal" data-bs-target="#form0002Modal">Tambah</button>
            </div>
            
            <!-- Modal structure -->
            <div class="modal fade" id="form0002Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="form0002ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                    
                        <div class="modal-header bg-secondary">
                            <h6 class="modal-title text-white" id="form0002ModalLabel">Form Input Data Anggota Direksi dan Dewan Komisaris</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <!-- Input Form -->
                            <form>
                                <!-- Nav Tabs -->
                                <ul class="nav nav-tabs" id="formTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                                            type="button" role="tab" aria-controls="tab1" aria-selected="true">
                                            Tab 1
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                                            type="button" role="tab" aria-controls="tab2" aria-selected="false">
                                            Tab 2
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3"
                                            type="button" role="tab" aria-controls="tab3" aria-selected="false">
                                            Tab 3
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4"
                                            type="button" role="tab" aria-controls="tab4" aria-selected="false">
                                            Tab 4
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5"
                                            type="button" role="tab" aria-controls="tab5" aria-selected="false">
                                            Tab 5
                                        </button>
                                    </li>
                                </ul>

                                <!-- Tab Content -->
                                <div class="tab-content mt-3" id="formTabContent">
                                    <!-- Tab 1: Basic Info -->
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="nama" class="form-label">Nama</label>
                                                <input type="text" class="form-control" id="nama" name="nama">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="alamat" class="form-label">Alamat</label>
                                                <input type="text" class="form-control" id="alamat" name="alamat">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="noidentitas" class="form-label">No Identitas</label>
                                                <input type="text" class="form-control" id="noidentitas" name="noidentitas">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="kodejabpengurus" class="form-label">Kode Jabatan Pengurus</label>
                                                <input type="text" class="form-control" id="kodejabpengurus" name="kodejabpengurus">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="tglmulai" class="form-label">Tanggal Mulai</label>
                                                <input type="text" class="form-control" id="tglmulai" name="tglmulai">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tab 2: Dates & SK -->
                                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="tglselesai" class="form-label">Tanggal Selesai</label>
                                                <input type="text" class="form-control" id="tglselesai" name="tglselesai">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="nomorskojk" class="form-label">Nomor SK OJK</label>
                                                <input type="text" class="form-control" id="nomorskojk" name="nomorskojk">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="tglskojk" class="form-label">Tanggal SK OJK</label>
                                                <input type="text" class="form-control" id="tglskojk" name="tglskojk">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="stscertif" class="form-label">Status Sertifikasi</label>
                                                <input type="text" class="form-control" id="stscertif" name="stscertif">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="tglcertif" class="form-label">Tanggal Sertifikasi</label>
                                                <input type="text" class="form-control" id="tglcertif" name="tglcertif">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tab 3: Education -->
                                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="kodedidikf" class="form-label">Kode Pendidikan Formal</label>
                                                <input type="text" class="form-control" id="kodedidikf" name="kodedidikf">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="tgldidikf" class="form-label">Tanggal Pendidikan Formal</label>
                                                <input type="text" class="form-control" id="tgldidikf" name="tgldidikf">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="lembagaf" class="form-label">Lembaga Formal</label>
                                                <input type="text" class="form-control" id="lembagaf" name="lembagaf">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="jenisdidiknon" class="form-label">Jenis Pendidikan Non Formal</label>
                                                <input type="text" class="form-control" id="jenisdidiknon" name="jenisdidiknon">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="tgldidiknon" class="form-label">Tanggal Pendidikan Non Formal</label>
                                                <input type="text" class="form-control" id="tgldidiknon" name="tgldidiknon">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="lembaganon" class="form-label">Lembaga Non Formal</label>
                                                <input type="text" class="form-control" id="lembaganon" name="lembaganon">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tab 4: Committee Codes -->
                                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="kodekomite1" class="form-label">Kode Komite 1</label>
                                                <input type="text" class="form-control" id="kodekomite1" name="kodekomite1">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="kodekomite2" class="form-label">Kode Komite 2</label>
                                                <input type="text" class="form-control" id="kodekomite2" name="kodekomite2">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="kodekomite3" class="form-label">Kode Komite 3</label>
                                                <input type="text" class="form-control" id="kodekomite3" name="kodekomite3">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="kodekomite4" class="form-label">Kode Komite 4</label>
                                                <input type="text" class="form-control" id="kodekomite4" name="kodekomite4">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="stskepatuhan" class="form-label">Status Kepatuhan</label>
                                                <input type="text" class="form-control" id="stskepatuhan" name="stskepatuhan">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Tab 5: Additional Info -->
                                    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="komindependen" class="form-label">Komite Independen</label>
                                                <input type="text" class="form-control" id="komindependen" name="komindependen">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="kt_terkait_pengurus" class="form-label">Keterkaitan Pengurus</label>
                                                <input type="text" class="form-control" id="kt_terkait_pengurus" name="kt_terkait_pengurus">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="alasan_perubahan" class="form-label">Alasan Perubahan</label>
                                                <input type="text" class="form-control" id="alasan_perubahan" name="alasan_perubahan">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="keterangan_jabatan" class="form-label">Keterangan Jabatan</label>
                                                <input type="text" class="form-control" id="keterangan_jabatan" name="keterangan_jabatan">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End Input Form -->
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                            <button type="button" class="btn btn-secondary">Simpan Perubahan</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Table -->
            <div class="d-flex justify-content-center">
            <div class="table-responsive">
            <table id="datatables" class="table table-bordered table-sm nowrap w-100">
                <thead class="table-light text-center">
                    <tr>
                        <th>Nama</th>
                        <th>Alamat</th>
                        <th>No Identitas</th>
                        <th class="text-center">Kode Jab Pengurus</th>
                        <th>Tgl Mulai</th>
                        <th>Tgl Selesai</th>
                        <th>Nomor SK OJK</th>
                        <th>Tgl SK OJK</th>
                        <th class="text-center">Status Sertif</th>
                        <th>Tgl Sertif</th>
                        <th class="text-center">Kode Didik F</th>
                        <th>Tgl Didik F</th>
                        <th>Lembaga F</th>
                        <th>Jenis Didik Non</th>
                        <th>Tgl Didik Non</th>
                        <th>Lembaga Non</th>
                        <th>Komite Audit</th>
                        <th>Kode Pemantau Risiko</th>
                        <th>Kode Remunerasi dan Nominasi</th>
                        <th>Kode Manajemen R</th>
                        <th>Sts Kepatuhan</th>
                        <th>Kom Independen</th>
                        <th>KT Terkait Pengurus</th>
                        <th>Alasan Perubahan</th>
                        <th>Keterangan Jabatan</th>
                        <th class="sticky-action-col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MONANG SAGALA</td>
                        <td>JL. KEMBANG V NO. 47 RT 003/002 KEL. KWITANG, KEC. SENEN - JAKARTA PUSAT</td>
                        <td>3171041405730003</td>
                        <td>210</td>
                        <td>2024-11-12</td>
                        <td>2029-11-12</td>
                        <td>KEP-176/KO.11/2024</td>
                        <td>2024-11-12</td>
                        <td>1</td>
                        <td>2024-10-28</td>
                        <td>S2</td>
                        <td>2001-05-15</td>
                        <td>UNIVERSITAS TRISAKTI</td>
                        <td>SERTIFIKAT MANAJEMEN RISIKO</td>
                        <td>2024-03-20</td>
                        <td>LEMBAGA SERTIFIKASI PROFESI PERBANKAN</td>
                        <td>01</td>
                        <td>02</td>
                        <td>03</td>
                        <td>04</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>Pengangkatan baru</td>
                        <td>Direktur Utama</td>
                        <td class="sticky-action-col">
                            <a href="#" class="text-secondary me-1 edit" data-bs-toggle="modal" data-bs-target="#form0002Modal"><i class="fas fa-edit"></i></a>
                            <a href="#" class="text-danger delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="25" style="text-align: right">Total:</th>
                        <th></th>
                    </tr>
                    <!-- Total CBS -->
                    <tr>
                        <th colspan="25" style="text-align: right">Total CBS:</th>
                        <th></th>
                    </tr>
                    <!-- Selisih Jumlah lapbul dengan CBS -->
                    <tr>
                        <th colspan="25" style="text-align: right">Selisih Jumlah lapbul dengan CBS:</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            </div>
            </div>
        </div>
    </main>
</div>

<script>
$(document).ready(function () {
    $('#datatables').DataTable({
        scrollX: true,
        responsive: true,
        columnDefs: [
            {
                targets: -1, // Last column (Aksi)
                width: "120px",
                orderable: false,
                responsive: false
            }
        ],
        language: {
            lengthMenu: "Tampilkan _MENU_ entri",
            zeroRecords: "Tidak ada data yang ditemukan",
            info: "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
            infoEmpty: "Menampilkan 0 sampai 0 dari 0 entri",
            infoFiltered: "(difilter dari total _MAX_ entri)",
            search: "Cari:",
            paginate: {
                first: "Pertama",
                last: "Terakhir",
                next: "Berikutnya",
                previous: "Sebelumnya",
            },
        },
    });
});

document.addEventListener('click', function(e) {
    if (e.target.closest('.tambah')) {
        e.preventDefault();
        const form = document.querySelector('#form0002Modal form');
        if (form) form.reset();
    }

    if (e.target.closest('.edit')) {
        e.preventDefault();
        const row = e.target.closest('tr');
        const cells = row.querySelectorAll('td');

        // Fill modal form (excluding the last action column)
        document.getElementById("nama").value = cells[0].textContent.trim();
        document.getElementById("alamat").value = cells[1].textContent.trim();
        document.getElementById("noidentitas").value = cells[2].textContent.trim();
        document.getElementById("kodejabpengurus").value = cells[3].textContent.trim();
        document.getElementById("tglmulai").value = cells[4].textContent.trim();
        document.getElementById("tglselesai").value = cells[5].textContent.trim();
        document.getElementById("nomorskojk").value = cells[6].textContent.trim();
        document.getElementById("tglskojk").value = cells[7].textContent.trim();
        document.getElementById("stscertif").value = cells[8].textContent.trim();
        document.getElementById("tglcertif").value = cells[9].textContent.trim();
        document.getElementById("kodedidikf").value = cells[10].textContent.trim();
        document.getElementById("tgldidikf").value = cells[11].textContent.trim();
        document.getElementById("lembagaf").value = cells[12].textContent.trim();
        document.getElementById("jenisdidiknon").value = cells[13].textContent.trim();
        document.getElementById("tgldidiknon").value = cells[14].textContent.trim();
        document.getElementById("lembaganon").value = cells[15].textContent.trim();
        document.getElementById("kodekomite1").value = cells[16].textContent.trim();
        document.getElementById("kodekomite2").value = cells[17].textContent.trim();
        document.getElementById("kodekomite3").value = cells[18].textContent.trim();
        document.getElementById("kodekomite4").value = cells[19].textContent.trim();
        document.getElementById("stskepatuhan").value = cells[20].textContent.trim();
        document.getElementById("komindependen").value = cells[21].textContent.trim();
        document.getElementById("kt_terkait_pengurus").value = cells[22].textContent.trim();
        document.getElementById("alasan_perubahan").value = cells[23].textContent.trim();
        document.getElementById("keterangan_jabatan").value = cells[24].textContent.trim();
    }

    if (e.target.closest('.delete')) {
        e.preventDefault();
        const row = e.target.closest('tr');
        if (confirm("Apakah Anda yakin ingin menghapus data ini?")) {
            row.remove();
        }
    }
});
</script>
{% include 'lapbul_app/footer.html' %}