{% include 'lapbul_app/header.html' %}
<div id="layoutSidenav_content">
    <main>
        <br class="container-fluid px-4">
            <h5 class="mt-4">Form 1400 - Rincian Liabilitas Lainnya</h5>
            <hr>
    
            <!-- Tombol Kembali & Simpan -->
            <div class="d-flex justify-content-between">
                <a href="{% url 'lapbul_app:lapbul' %}" class="btn btn-secondary">Kembali</a>
                <button type="button" class="btn btn-secondary tambah" data-bs-toggle="modal" data-bs-target="#form1401Modal">Simpan</button>
            </div>

            <!-- Filter Kantor -->
            <div class="mt-3 mb-3 d-flex align-items-center gap-2">
                <label for="kantorFilter" class="form-label mb-0">Pilih Sandi Kantor:</label>
                <select id="kantorFilter" class="form-select form-select-sm w-auto" onchange="filterKantor()">
                    <option value="all">semua</option>
                    <option value="001">001</option>
                    <option value="002">002</option>
                </select>
            </div>

            <!-- Table -->
            <div class="d-flex justify-content-center">
                <form>
                    <table class="table table-bordered table-sm">
                        <thead class="table-light text-center">
                            <tr>
                                <th class="text-center">Sandi Kantor</th>
                                <th>Nama Rekening</th>
                                <th class="text-center">Sandi Pos</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ================= KANTOR 001 ================= -->
                            <tr data-kantor="001"><td>001</td><td>Utang Bunga</td><td></td><td><input type="text" class="form-control text-end" value=""></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Tabungan Berjangka</td><td>2299010100</td><td><input type="text" class="form-control text-end" value="100000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Deposito</td><td></td><td></td></tr>
                            <tr data-kantor="001"><td>001</td><td>a. Sudah Jatuh Tempo</td><td>2299010201</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>b. Belum Jatuh Tempo</td><td>2299010202</td><td><input type="text" class="form-control text-end" value="100000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Simpanan dari bank lain</td><td></td><td></td></tr>
                            <tr data-kantor="001"><td>001</td><td>a. Sudah Jatuh Tempo</td><td>2299010301</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>b. Belum Jatuh Tempo</td><td>2299010302</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Pinjaman yang diterima dari Bank</td><td></td><td></td></tr>
                            <tr data-kantor="001"><td>001</td><td>a. Sudah Jatuh Tempo</td><td>2299010401</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>b. Belum Jatuh Tempo</td><td>2299010402</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Pinjaman dari Pihak Ketiga Bukan Bank</td><td></td><td></td></tr>
                            <tr data-kantor="001"><td>001</td><td>a. Sudah Jatuh Tempo</td><td>2299010501</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>b. Belum Jatuh Tempo</td><td>2299010502</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Utang Bunga Lainnya</td><td>2299019900</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Utang Pajak</td><td>2299020000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Liabilitas Imbalan Kerja</td><td>2299030000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Liabilitas Sewa Pembiayaan</td><td>2299040000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Taksiran Pajak Penghasilan</td><td>2299050000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Pendapatan yang Ditangguhkan</td><td>2299060000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Liabilitas Pajak Tangguhan</td><td>2299070000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="001"><td>001</td><td>Lainnya</td><td>2299990000</td><td><input type="text" class="form-control text-end" value="100000"></td></tr>

                            <!-- ================= KANTOR 002 ================= -->
                            <tr data-kantor="002"><td>002</td><td>Utang Bunga</td><td></td><td></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Tabungan Berjangka</td><td>2299010100</td><td><input type="text" class="form-control text-end" value="100000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Deposito</td><td></td><td></td></tr>
                            <tr data-kantor="002"><td>002</td><td>a. Sudah Jatuh Tempo</td><td>2299010201</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>b. Belum Jatuh Tempo</td><td>2299010202</td><td><input type="text" class="form-control text-end" value="100000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Simpanan dari bank lain</td><td></td><td></td></tr>
                            <tr data-kantor="002"><td>002</td><td>a. Sudah Jatuh Tempo</td><td>2299010301</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>b. Belum Jatuh Tempo</td><td>2299010302</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Pinjaman yang diterima dari Bank</td><td></td><td></td></tr>
                            <tr data-kantor="002"><td>002</td><td>a. Sudah Jatuh Tempo</td><td>2299010401</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>b. Belum Jatuh Tempo</td><td>2299010402</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Pinjaman dari Pihak Ketiga Bukan Bank</td><td></td><td></td></tr>
                            <tr data-kantor="002"><td>002</td><td>a. Sudah Jatuh Tempo</td><td>2299010501</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>b. Belum Jatuh Tempo</td><td>2299010502</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Utang Bunga Lainnya</td><td>2299019900</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Utang Pajak</td><td>2299020000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Liabilitas Imbalan Kerja</td><td>2299030000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Liabilitas Sewa Pembiayaan</td><td>2299040000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Taksiran Pajak Penghasilan</td><td>2299050000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Pendapatan yang Ditangguhkan</td><td>2299060000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Liabilitas Pajak Tangguhan</td><td>2299070000</td><td><input type="text" class="form-control text-end" value="50000"></td></tr>
                            <tr data-kantor="002"><td>002</td><td>Lainnya</td><td>2299990000</td><td><input type="text" class="form-control text-end" value="100000"></td></tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <br>
    </main>
</div>

<!-- Script Filter -->
<script>
function filterKantor() {
    var selected = document.getElementById("kantorFilter").value;
    var rows = document.querySelectorAll("tbody tr");

    rows.forEach(function(row) {
        if (selected === "all") {
            row.style.display = "";
        } else {
            row.style.display = row.getAttribute("data-kantor") === selected ? "" : "none";
        }
    });
}
</script>

<!-- CSS untuk center kolom tertentu -->
<style>
    table td:first-child,
    table th:first-child,
    table td:nth-child(3),
    table th:nth-child(3) {
        text-align: center;
        vertical-align: middle;
    }
</style>

{% include 'lapbul_app/footer.html' %}
